﻿@Code
    ViewData("Title") = "Index"
End Code

<h2>Index</h2>
<p>姓名</p>
<input id="name" type="text" value=""></br>
<p>帳號</p>
<input id="account" type="text" value=""></br>
<p>密碼</p>
<input id="code" type="text" value=""></br>

<input id="boy" type="radio" value="0">男生
<input id="girl" type="radio" value="1">女生

<p>
    興趣: <input type="checkbox" value="1" name="Product_1"> 游泳

    <input type="checkbox" value="2" name="Product_2"> 閱讀

    <input type="checkbox" value="3" name="Product_3"> 看電影

</p>
<form name="form1" action="" method='get'>
<textarea id="word" name="txt" style="width:300px;height:100px;"></textarea></td>
</br>
<input type="submit" value="提交">
</form>